.container{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.container{
    margin-top: 8%;
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
.navbar{
    opacity:0.8;
    border-bottom:#f5f7f8 3px solid;

}
body{
    background: #ffffff;
    font-family: 'Roboto Slab', serif;
}
